# Import

In [1]:
import pandas as pd

from tqdm import tqdm

import requests

from bs4 import BeautifulSoup

from simple_image_download import simple_image_download as simp

# Get Name

In [2]:
lst = []

for table in tqdm(range(0, 8)):
    url = 'https://en.wikipedia.org/wiki/List_of_mountains_by_elevation'

    response = requests.get(url).content
    soup = BeautifulSoup(response, 'lxml')

    table = soup.find_all('table')[table]

    try:
        for row in table.find_all('tr')[1:]:
            name = row.find_all('td')[0].text

            lst.append(name)

    except AttributeError:
        name = None

        lst.append(name)

100%|██████████| 8/8 [00:04<00:00,  1.64it/s]

In [3]:
print(lst[:10])

['Mount Everest', 'K2', 'Kangchenjunga', 'Lhotse', 'Makalu', 'Cho Oyu', 'Dhaulagiri', 'Manaslu', 'Nanga Parbat', 'Annapurna']

In [4]:
df = pd.DataFrame(lst, columns=['Name'])

df

                      Name
0            Mount Everest
1                       K2
2            Kangchenjunga
3                   Lhotse
4                   Makalu
...                    ...
1456  Buachaille Etive Mor
1457             Munboksan
1458                 Kékes
1459         Mount Belumut
1460      Old Rag Mountain

[1461 rows x 1 columns]

In [5]:
df = df['Name'] + ' Mountain Flickr'

In [6]:
df = df[:10]

df

0    Mount Everest Mountain Flickr
1               K2 Mountain Flickr
2    Kangchenjunga Mountain Flickr
3           Lhotse Mountain Flickr
4           Makalu Mountain Flickr
5          Cho Oyu Mountain Flickr
6       Dhaulagiri Mountain Flickr
7          Manaslu Mountain Flickr
8     Nanga Parbat Mountain Flickr
9        Annapurna Mountain Flickr
Name: Name, dtype: object

In [7]:
lst = df.tolist()

lst

['Mount Everest Mountain Flickr',
 'K2 Mountain Flickr',
 'Kangchenjunga Mountain Flickr',
 'Lhotse Mountain Flickr',
 'Makalu Mountain Flickr',
 'Cho Oyu Mountain Flickr',
 'Dhaulagiri Mountain Flickr',
 'Manaslu Mountain Flickr',
 'Nanga Parbat Mountain Flickr',
 'Annapurna Mountain Flickr']

# Get Images

In [8]:
amount = 10000

In [9]:
response = simp.simple_image_download

for x in lst:
    response().download(x, amount, {'.jpg', '.jpeg', '.png'})

[========================================================================] 100%
[========================================================================] 100%
[========================================================================] 100%
[========================================================================] 100%
[========================================================================] 100%
[========================================================================] 100%
[========================================================================] 100%
[========================================================================] 100%
[========================================================================] 100%
[========================================================================] 100%